<head>
    <link href="/css/minimal-tableDark.css" rel="stylesheet" type="text/css">
</head>
<center>
   <h1 style="text-align:center"> <a style="text-decoration: none">← </a>25 Януари <a style="text-decoration: none"> →</a></h1>

    <table>
        <tr>
            <th>Свободни часове:</th>
        </tr>
        <tr>
            <td type=day class=popup-trigger onclick=window.location.replace('https://localhost:7172/client/approve') title=Заяви style="border-radius:200px; color:white;background-color:rgb(255,105,180,0.5)">8:00</td>
          <tr><td></td></tr>

        <tr>
                <td type=day class=popup-trigger onclick=loadRepos(this) title=Заяви style="border-radius:200px; color:white;background-color:rgb(255,105,180,0.5)">12:00</td>        </tr>
        <tr><td></td></tr>
                <tr>
                <td type=day class=popup-trigger onclick=loadRepos(this) title=Заяви style="border-radius:200px; color:white;background-color:rgb(255,105,180,0.5)">16:00</td>
        </tr>
    </table>

    <script>
        //  fetch('https://localhost:7172/api/days')
        // .then((response) => {
        //return response.text();
        //})
        //.then((html) => {
        //  document.body.innerHTML = html
        //});




                  //async function loadDays() {
                  //  const response = await fetch('/api/days');
                  //  const days = await response.json();
                  //  console.log(days);
                  //}
                  //loadNames();
    </script>
</center>
