@{
    ViewData["Title"] = "Home Page";
}

<br/><br/>
<div class="text-center">
    <h1 class="display-4" id="Welcome">Добре дошли!</h1>
</div>
<br/><br/><br/>
<br/><br/><br/>
<center><a href="Identity/Account/Login"style="text-decoration:none; color:white; background-color:rgb(0,0,0,0.6)">
@*    &nbsp; Здравейте, казвам се Злати Манова и с най-голямо удоволствие,
    Ви приветсвам в новия ми онлайн календар за записване на часове &#128513;*@
</a>
</center>

