html {
    font-family: Arial;
}

.hide:hover{
    empty-cells:hide;
    background:none;
    cursor:default;
    
}
h1 {
    background-color: rgb(47,79,79, 0.5);
}
footer {
    background-color: rgb(47,79,79, 0.7);
}
table {
    overflow-x: auto;
    letter-spacing: 0.5px;
    text-align: center;
    font-size: x-small;
    border-block-start: groove;
    border-block-end-style: groove;
    border: 0.1px groove;
    background-color: rgb(0,0,0, 0.6);
   
}

th td{
}

th{
    max-width:150px;
    width:1200px;
    border-block:groove;
    color:white;
}

td{


   height:60px;
}


    td:hover {
        color: darkblue;
        border-radius: 200px;
        background: rgb(0,0,0, 0.6);
        cursor: pointer;
    }


/* Popup */

.popup-trigger {
    right: 22rem;
    margin: 13em auto;
    text-align: center;
    color: black;
    font-size: 18px;
    padding: 0.2rem 0.1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 300ms all;
   position:center;
}

    .popup-trigger:hover {

        opacity:initial;

    }

.popup {
    position: fixed;
    top: 0;
    left: 80px;
    height: max-content;
    z-index: 100;
    width: max-content;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
    position: center;
}

    .popup.is-visible {
        opacity: 1;
        visibility: visible;
        transition: 1s all;
        position: center;
    }

.popup-container {

    transform: translateY(-50%);
    transition: 1500ms all;
    position: fixed;
    width: 7%;
    margin: 2em auto;
    padding: 5rem;
    background: #FFF;
    border-radius: .25em 1.25em .25em 1.4em;
    text-align: center;
    text-emphasis-style: filled;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.is-visible .popup-container {
    transform: translateY(0);
    transition: 500ms all;
    position: center;
}

.popup-container .popup-close {
    position: absolute;
    top: 8px;
    font-size: 0;
    right: 8px;
    width: 30px;
    height: 30px;
    position: center;
}


    .popup-container .popup-close::before,
    .popup-container .popup-close::after {
        content: '';
        position: absolute;
        top: 12px;
        width: 14px;
        height: 3px;
        background-color: #8f9cb5;
        position: center;
    }

    .popup-container .popup-close::before {
        position: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        left: 8px;
    }

    .popup-container .popup-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: 8px;
        position: center;
    }


    .popup-container .popup-close:hover:before,
    .popup-container .popup-close:hover:after {
        background-color: #35a785;
        transition: 300ms all;
        position: center;
    }
