
<div class="text-center">
    <h1 class="display-4" id="Welcome">Love you my baby girl 💅 😍 </h1>
</div>
<br />
<br />
<center style="margin-top:27%"> 
<h1 style="cursor:pointer;border-radius:500px; background-color:rgb(1,1,1,0.7)" onclick=window.open("https://localhost:7172/owner/calendar","_self")>Календар</h1>
<br />
<br />


<h1 style="cursor:pointer;border-radius:500px; background-color:rgb(1,1,1,0.7)" onclick=window.open("https://localhost:7172/home/appointments/waiting","_self")>Заявки за часове<span style="color:green; font-family:'a Agreement Signature'; font-size:27px"> ( 7 ) </span></h1>
<br />
<br />
<h1 style="cursor:pointer;border-radius:500px; background-color:rgb(1,1,1,0.7)" onclick=window.open("https://localhost:7172/home/notes","_self")>Бележки<span style="color:yellowgreen; font-family:'a Agreement Signature'; font-size:27px"> ( 2 ) </span></h1>
<br />
<br />
<h1 style="cursor:pointer;border-radius:500px; background-color:rgb(1,1,1,0.7)" onclick=window.open("https://localhost:7172/home/clirnts","_self")>Клиенти<span style="color:yellowgreen; font-family:'a Agreement Signature'; font-size:27px"> 💯 </span></h1>
</center>
