@using System.Security.Claims
@model MessageWebModel

<form asp-action="SendMessage">
    <input asp-for="UserSenderId" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" hidden />
    <h1>Изпрати съобщение</h1>
    @{
        if (@Model.ListUsers != null)
        {
            <label asp-for="UserRecieverId" style="color:white; border-radius:22px;">
                Клиент:
            </label>
            <select asp-for="UserRecieverId" asp-items="@Model.ListUsers" class="form-control" style="text-align:center; color:black; background-color:rgb(255,255,200,0.5)"></select>
        }
        else
        {
            <h1>няма клиенти</h1>
        }
    }
    <br />
    <div class="form-floating">
        <input asp-for="Title" class="form-control" aria-required="true" />
        <label asp-for="Title"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <br />
    <div class="form-floating">
        <textarea asp-for="Content" class="form-control" aria-required="true" size="50" style="text-align:start; min-height:200px"></textarea>>
        <label asp-for="Content"></label>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Изпрати</button>
</form>

