
<div class="slider-container" style="padding-top:40px">
    <div class="slider">
        <div class="slides">
            <div id="slides__2" class="slide">
                <img src="~/img/slides/1.jpg" />
                <a class="slide__prev"></a>
                <a class="slide__next"></a>
            </div>
            <div id="slides__3" class="slide">
                <img src="~/img/slides/2.jpg" />
                <a class="slide__prev"></a>
                <a class="slide__next"></a>
            </div>
            <div id="slides__4" class="slide">
                <img src="~/img/slides/3.jpg" />
                <a class="slide__prev"></a>
                <a class="slide__next"></a>
            </div>
        </div>
    </div>
</div>